<div class="s-layout">
    <!-- Sidebar -->
    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger" href="#0">
         <i class="fa fa-bars"></i>
      </a>
      <body style="background-color: #1F1F1F;">
      <nav class="s-sidebar__nav">
         <ul>
            <li>
               <a class="s-sidebar__nav-link" href="../pages/tables/basic-table.html">
                  <i class="fa fa-home"></i><em>Home</em>
               </a>
            </li>
            <li>
               <a class="s-sidebar__nav-link" href="../pages/tables/rules.html">
                 <i class="fa fa-user"></i><em>Rules</em>
               </a>
            </li>
            <li>
               <a class="s-sidebar__nav-link" href="../pages/tables/servers.html">
                  <i class="fa fa-camera"></i><em>Servers</em>
               </a>
            </li>
            <li>
                <a class="s-sidebar__nav-link" href="../pages/tables/ranks.html">
                   <i class="fa fa-camera"></i><em>Ranks</em>
                </a>
             </li>
             <li>
                <a class="s-sidebar__nav-link" href="../pages/tables/staffpage.html">
                   <i class="fa fa-camera"></i><em>Staffpage</em>
                </a>
             </li>
         </ul>
      </nav>
   </div>
        <script src="https://kit.fontawesome.com/d24b63793e.js" crossorigin="anonymous"></script>
    </body>

    <!-- Content -->
    <main class="s-layout__content">
    </main>
    </div>